# disallow all files without extensions
*
!*.*
!*/

# Ignore all log files
*.log
*.swp

# Ignore weird files I don't konw about
*.node0
*.node1

# Ignore jar files (used to clean repo)
*.jar

# allow Makefiles
!**Makefile**
!processor/verilog

# vscode and mac specific files
.vscode/**
.DS_Store**

**build/**

!**/*.*
**/*.blif
**/*.json
**/*.asc
**/*.bin
**/*.hex
**/*.o
**/*.i
**/*.sr
**/*.map

# ignore patched sunflower binary
sf_gb3
